@media all and (max-width: 1000px){
  .menu-icon{
    display: none;
  }
  .calculator{
    width: 75%;
  }

}

@media screen and (max-width: 670px){
  .center-side p{
    font-size: 20px;
    padding-bottom: 10px;
  }
  .right-side a{
    display: none;
  }
  .calculator{
    width: 100%;
    padding-top: 10px;
    margin-top: 10px;
  }
}
